<div class="container">
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div cdkDropListGroup>
          <div class="row">
            <div class="col">
              <div class="example-container">
                <h2>Available items</h2>

                <div
                  cdkDropList
                  [cdkDropListData]="items"

                  class="example-list"
                  cdkDropListSortingDisabled

                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of items" cdkDrag>{{item.name}}</div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="example-container">
                <h2>Shopping basket</h2>

                <div
                  cdkDropList
                  [cdkDropListData]="basket"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of basket; let fieldIndex = index" cdkDrag>
                    {{item.name ? item.name : ''}}
                    <button class="btn btn-sm" (click)="openEditModal(fieldIndex)">
                      <i class="fa fa-arrow-down fa-2x"></i>
                    </button>


                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col d-flex justify-content-end">
        <button class="btn btn-outline-success" (click)="submit()">Guardar</button>

      </div>

    </div>

  </div>


</div>
